{% extends "base.html.twig" %}

{% block title %}{{ parent() }}-Notre Mission{% endblock %}
{% block css %}{{ parent() }}{% endblock %}
{% block body %}

    <h1 class="text-center">Bonjour je suis la page d'accueil</h1>



{% endblock %}
{% block foot %}{% endblock %}
{% block js %}{{ parent() }}{% endblock %}

