{% extends "@BirdsObservations/observationLayout.html.twig" %}

{% block content %}
	<h1 class="text-center">Ajout d'une observation</h1>
	{{ parent()}}

	{{ form_start(form)  }}
	{{ form(form)  }}

	{{ form_end(form) }}

{% endblock %}
