{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Observations{% endblock %}
{% block css %}{{ parent() }}{% endblock %}
{% block body %}
	<h1 class="text-center">Toutes les observations se trouvent ici.</h1>
{% endblock %}
{% block foot %}{% endblock %}
{% block js %}{{ parent() }}{% endblock %}
