{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Observations{% endblock %}
{% block css %}{{ parent() }}{% endblock %}
{% block body %}
	<h1 class="text-center">Toutes les observations se trouvent ici.</h1>
	<div id="map"></div>

{% endblock %}
{% block foot %}{% endblock %}
{% block js %}{{ parent() }}
	<script src="{{ asset('../web/js/mapGenerator.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7OxaSU742N4m30QGtTnkwb7TSoBSCzrc&callback=initMap" async defer></script>
{% endblock %}
