body {
    background-image: url("/BirdSafari/web/img/backgrounds/fond_mission_desktop.jpg");
    background-attachment: fixed;
}

@media screen and (max-width:300px)
{
    body {
        background-image: url("/BirdSafari/web/img/backgrounds/fond_mission_mobile.jpg");
        background-attachment: fixed;

    }
}


.btn-info
{
    border-radius: 50px;
}

.accueil-pad
{
    margin-bottom: 5%;
}