body
{
    background-image: url("../img/backgrounds/fond_accueil_bureau.jpg");
    background-attachment: fixed;
}

@media screen and (max-width:360px)
{
    body {
        background-image: url("../img/backgrounds/fond_accueil_mobile.jpg");
        background-attachment: fixed;
    }
}


.btn-info
{
    border-radius: 50px;
}

.accueil-pad
{
    margin-bottom: 5%;
}
