.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 4px;

}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
.navbar-nav li a {
    color:black !important;
}

.flash-error
{
    background-color: #B0413E;
    color: whitesmoke;
}
.flash-success
{
    background-color: #789339;
    color: whitesmoke;
}

.bg-foot
{
    background-color: #313131;
    color: floralwhite;
}
#content
{
    min-height: 1000px;
}
#map {
    height: 500px;
}

/*Accueil*/
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
#siderContent
{
    background-color: #666666;
    height:  1000px;

}

.bg-observation-search
{
    background-color: #1abc9c;
    color: #EEEEEE;
    font-family: "Adobe Garamond Pro";
}

.bg-observation-side
{
    background-color: #FFFFFF;
}

.bg-observation-main
{
    height: 1000px;
}

.panel
{
    margin-top: 20px;
}