.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 4px;

}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
.navbar-nav li a {
    color:black !important;
}

.flash-error
{
    background-color: #B0413E;
    color: whitesmoke;
}
.flash-success
{
    background-color: #789339;
    color: whitesmoke;
}

.bg-foot
{
    background-color: #313131;
    color: floralwhite;
}
#content
{
    min-height: 800px;
}
#map {
    height: 500px;
}

#mapR {
    display: block;
    height: 300px;
}

/*Accueil*/
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
#siderContent
{
    background-color: #666666;
    min-height: 1000px !important;

}

.bg-observation-search
{
    background-color: #1abc9c;
    color: #EEEEEE;
    font-family: "Adobe Garamond Pro";
}

.bg-observation-side
{
    background-color: #FFFFFF;
}

.bg-observation-main
{
    min-height: 1000px !important;
}

.panel
{
    margin-top: 20px;
}

.observationCointainer
{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    color: white;

    background-color: #666666;
}

.observationCointainer :hover
{

    color: white;

    background-color: #999999;
}
#logoDuSite
{
    margin-top: -20px;
    width: 90px;
    height: 90px;

}
.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 24px;
    background: #d3d3d3;
    outline: none;
    opacity:0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
.slider:hover {
    opacity:1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #4CAF50;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border: 0;
    background: #4CAF50;
    cursor: pointer;
}

#distanceFromPoint
{
    color:black;
    font-size: larger;
    text-align: right;

}

th
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 3px;
    padding-left: 3px;

}

.glyphicon-lg
{
    font-size: 3em;
}

.isole
{
    padding-top: 15px;
}