{% extends "base.html.twig" %}


{% block js %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js"></script>

{% endblock %}
{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
