{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Observations{% endblock %}
{% block css %}{{ parent() }}{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				{% block search %}{% endblock %}
			</div>
			<div class="col-sm-4" id="observation">
                {% block result %}{% endblock %}
			</div>
			<div class="col-sm-8">
                {% block map %}
					<div id="map"></div>
				{% endblock %}

			</div>

{% endblock %}
{% block foot %}{% endblock %}
{% block js %}{{ parent() }}
	<script src="{{ asset('../web/js/mapGenerator.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7OxaSU742N4m30QGtTnkwb7TSoBSCzrc&callback=initMap" async defer></script>
{% endblock %}
