{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un article</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Retour à la liste des articles</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
      $(function() {
          $('.js-datepicker').datepicker({
            dateFormat: 'dd-mm-yy',
          });
        });
 </script>

{% endblock %}

